body {
	font-size: 12px;
    font-family: 'Roboto',sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 24px;	
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;	
}
p {
    margin: 0 0 10px;
}
.blue {
	color: #283593;
}
.red {
	color: red;
}
.heart:hover {
	cursor: pointer;
	animation: flash 1s;
}
md-list {
	width: 100% !important;
}
.md-subheader.md-default-theme, .md-subheader {
    color: rgb(255, 64, 129);
    background-color: inherit !important;
}
md-chips.md-default-theme .md-chips, md-chips .md-chips {
    box-shadow: 0 0px #fff !important;
}
.main-container {
    width: 512px;
    height: 600px;
	background-color: rgba(151, 153, 155, 0.1) !important;
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgba(151, 153, 155, 0) !important; 
}
md-chips.md-default-theme md-chip, md-chips md-chip {
    background: rgb(255, 64, 129);
    color: white;
}
md-card {
	cursor: pointer;
}
md-card:focus, md-card:active {
	outline: none;
	border: 0px solid #fff;
}
md-card.ng-hide-remove {
  animation: fadeIn 1s;
}
md-card.ng-hide {
  animation: fadeOut .6s;
}
md-card:hover {
    -ms-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
.md-card-image {
	position: relative;
}
.banner.ng-hide-remove {
  animation: fadeIn 1s;
}
.search-cards.ng-hide-remove {
  animation: fadeIn 1s;
}
.search-banner.ng-hide-remove {
	animation: fadeIn 1s;
}
.title {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    height: 16px;
}
md-tabs-wrapper{ 
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255,1) !important;
    z-index: 1000;
    width: 100%;
}
md-tabs.md-dynamic-height md-tabs-content-wrapper {
    top: 48px !important;
    margin-bottom: 48px !important;
}
.md-tab.md-active {
    cursor: default;
}
md-tab-item:last-of-type {
    left: 221px;
}
.searchBarMain {
	background: #fff;
	width: 97%;
	max-width: 500px;
	margin: 0 auto;
	height: 42px;
	margin-top: 11px;
	border-radius: 2px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	left: 0;
	right: 0;
	top: 0;
    margin-bottom: 16px;
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 52px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
	height: 42px;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	width: calc(100% - 52px);
	outline: none;
	padding-right: 32px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.clearSearchBarField {
	position: absolute;
	right: 15px;
	top: 20px;
	color: rgba(0, 0, 0, 0.84);
	font-size: 20px;
}
.clearSearchBarField:hover {
	cursor: pointer;
}
.search-container {
	width: 100%;
}
.movie-length {
	color: crimson;
	margin-left: 8px;
}
.movie-container {
	padding: 16px;
	position: relative;
}
.banner {
	width: 100%;
	height: 100%;
	margin-top: -17px;
}
.cover {
	width: 170px;
	height: 255px;
	border-radius: 4px;
}
ul {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0px !important;
	margin-left: -40px !important;
}
ul > li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
}
.movie-header {
	position: relative;
}
.back {
	cursor: pointer;
	padding: 5px;
	color: #000;
}
.back:focus, .back:active {
	outline: none;
	border: 0px solid #fff;
}
md-fab-speed-dial {
    top: 10px !important;
    right: 10px !important;
}
.title-header {
	margin-left: 10px;
	color: #000;
}
.right-content {
	float: right;
}
.movie-title {
	margin-right: 80px;
	width: 165px;
	color: #000;
	font-size: 18px;	
}
.movie-year {
	color: #000;
	font-size: 14px;
	font-weight: 500;
}
.genre-content {
	height: auto;
	width: 100%;
}
.movie-torrent {
	background-color: crimson !important;
}
.movie-rating {
	padding: 10px 10px 10px 0px;
	margin-top: -10px;
}
.imdb-icon {
	width: 60px;
}
.imdb-icon > img {
	width: 40px;
	border: 0;
}
.imdb-rating {
	color: #000;
	font-size: 16px;
	font-weight: 400;
}
.movie-summary {
	color: #000;
	margin-top: 12px;
}
.summary-content {
	font-size: 14px;
    display: block;
	overflow-y: hidden;
	transition: height 75ms;
}
.show-less {
	height: 32px;
}
.show-more {
	height: 100%;
}
.summary-content-more {
	cursor: pointer;
	height: 30px;
}
.summary-content-more:active, .summary-content-more:focus {
	cursor: pointer;
	border: 0px solid #fff;
	outline:none;
}