body {
	font-size: 12px;
    font-family: 'Roboto',sans-serif;
}
.main-container {
    width: 500px;
    height: 600px;
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(255,255,255) !important; 
}
.md-tab {
	font-size: 12px !important;
}
md-card {
	cursor: pointer;
}
.title {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
    height: 16px;
}
md-card:hover {
    -ms-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
md-tabs-wrapper{ 
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255) !important;
    z-index: 1000;
    width: 100%;
}
md-tabs.md-dynamic-height md-tabs-content-wrapper {
    top: 48px !important;
    margin-bottom: 48px !important;
}
.md-tab.md-active {
    cursor: default;
    color: crimson !important;
}