<!DOCTYPE html>
<html ng-app='app'>
  <head>
    <title>Angular Chrome Extension</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="lib/material/material.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body ng-controller='applicationController' ng-clock>
    <loading-screen is-loading="myLoadingScope" src="images/oval.svg"></loading-screen>

    <!--- New Layout -->
    <div class="main-container" id="main">
      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" ng-hide="showMovie">
        <div class="mdl-tabs__tab-bar">
          <a href="#popular-panel" class="mdl-tabs__tab is-active" ng-click="getMovies('Popular')">
            <i class="material-icons">favorite</i>
            <span>Popular</span>
          </a>
          <a href="#latest-panel" class="mdl-tabs__tab" ng-click="getMovies('Latest')">
            <i class="material-icons">new_releases</i>
            <span>Latest</span>
          </a>
          <a href="#search-panel" class="mdl-tabs__tab">
            <i class="material-icons">search</i>
            <span>Search</span>
          </a>
        </div>

        <div class="mdl-tabs__panel is-active" id="popular-panel">
          <div class="network-error" ng-show="networkError">
            <i class="material-icons icon-big">sentiment_very_dissatisfied</i>
            <h5 class="error-text">
              Oops! Couldn't connect to the server. Please check your internet connection.
            </h5>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect" ng-click="getMovies('Popular')">
              Refresh
            </button>
          </div>
          <div class="mdl-grid" ng-show="!networkError">
            <div id="{{movie.id}}" class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" ng-click="viewMovie(movie.id)" ng-repeat="movie in popularMovies" ng-style="{'background-image':'url({{movie.medium_cover_image | cleanDom}})'}">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__supporting-text">
                {{movie.title_long | cleanDom}}
              </div>
            </div>
            <div class="load-more">
              <button class="mdl-button mdl-js-button mdl-button--primary" ng-disabled="addMore" ng-hide="myLoadingScope || popularMovies.length == 0" ng-click="loadMore('Popular')">
                <span ng-show="addMore" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></span>
                <label ng-hide="addMore">Load more</label>
              </button>
            </div>
          </div>
        </div>
        <div class="mdl-tabs__panel" id="latest-panel">
          <div class="network-error" ng-show="networkError">
            <i class="material-icons icon-big">sentiment_very_dissatisfied</i>
            <h5 class="error-text">
              Oops! Couldn't connect to the server. Please check your internet connection.
            </h5>
            <button class="mdl-button mdl-js-button mdl-button--primary mdl-js-ripple-effect" ng-click="getMovies('Latest')">
              Refresh
            </button>
          </div>
          <div class="mdl-grid" ng-show="!networkError">
            <div id="{{movie.id}}" class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" ng-click="viewMovie(movie.id)" ng-repeat="movie in latestMovies" ng-style="{'background-image':'url({{movie.medium_cover_image | cleanDom}})'}">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__supporting-text">
                {{movie.title_long | cleanDom}}
              </div>
            </div>
            <div class="load-more">
              <button class="mdl-button mdl-js-button mdl-button--primary" ng-disabled="addMore" ng-hide="myLoadingScope || latestMovies.length == 0" ng-click="loadMore('Latest')">
                <span ng-show="addMore" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></span>
                <label ng-hide="addMore">Load more</label>
              </button>
            </div>
          </div>
        </div>
        <div class="mdl-tabs__panel" id="search-panel">
          <div class="search-container">
            <div class="searchBarMain">
              <i class="material-icons searchBarSearchIcon noUserSelect">search</i>
              <input type="text" name="header-search" ng-model="searchInput" id="searchBarInput" placeholder="Search for a movie" ng-enter="searchMovie(searchInput)">
              <md-button class="md-icon-button clearSearchBarField noUserSelect" aria-label="cancel" ng-click="searchInput = ''" ng-show="searchInput.length > 0">
                <md-icon class="material-icons">clear</md-icon>
              </md-button>
              <div id="p2" ng-show="startSearch" class="mdl-progress mdl-js-progress mdl-progress__indeterminate mdl-accent"></div>
            </div>
            <h5 class="movie-length" ng-show="searchMovies.data.movie_count > -1">{{searchMovies.data.movie_count}} Movie(s) found.</h5>
          </div>
          <div class="mdl-grid">
            <div class="demo-card-image mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col" ng-click="viewMovie(movie.id)" ng-repeat="movie in searchMovies.data.movies" ng-style="{'background-image':'url({{movie.medium_cover_image | cleanDom}})'}">
              <div class="mdl-card__title mdl-card--expand" ></div>
              <div class="mdl-card__supporting-text">
                {{movie.title_long | cleanDom}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Details page -->
      <div class="movie-container" ng-show="showMovie">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
          <header class="mdl-layout__header">
            <div class="mdl-layout-icon" ng-click="goback()">
              <i class="material-icons">arrow_back</i>
            </div>
            <div class="mdl-layout__header-row">
              <span class="mdl-layout-title">Movie details</span>
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                          mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" id="download">
                  <i class="material-icons">file_download</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                </div>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                          mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon" id="more">
                  <i class="material-icons">more_vert</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                </div>
              </div>
            </div>
          </header>
          <div class="mdl-layout--no-drawer-button">
          </div>
          <!-- <main class="mdl-layout__content">
            <div></div>
          </main> -->
        </div>
        <div id="p3" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" ng-show="startSearch"></div>
        <div class="inner-container">
          <img class="cover" ng-src="{{movie.medium_cover_image}}" ng-show="!startSearch">
          <div class="right-content" ng-show="!startSearch">
              <h4 class="movie-title">{{movie.title | cleanDom}}</h4>
              <p class="movie-year">{{movie.year | cleanDom}}</p>
              <div class="movie-rating">
                <ul>
                  <li class="imdb-icon">
                    <i class="material-icons blue">access_time</i>
                  </li>
                  <li>
                    <span class="imdb-rating">{{(movie.runtime | cleanDom) | runTime}}</span>
                  </li>
                </ul>
              </div>
              <div class="movie-rating">
                <ul>
                  <li class="imdb-icon" ng-if="movie.like_count">
                    <i class="material-icons red heart">favorite</i>
                  </li>
                  <li ng-if="movie.like_count">
                    <span class="imdb-rating">{{movie.like_count | cleanDom}} Like(s)</span>
                  </li>
                </ul>
              </div>
              <div class="movie-rating">
                <ul>
                  <li class="imdb-icon">
                    <img src="images/imdb_icon.png">
                  </li>
                  <li>
                    <span class="imdb-rating">{{movie.rating | cleanDom}}</span>
                  </li>
                </ul>
              </div>
            </div>
          <div class="movie-summary" ng-show="!startSearch">
            <h4>Summary</h4>
            <p class="summary-content" ng-class="contentExtra == 'Show more' ? 'show-less' : 'show-more'">{{movie.description_full | cleanDom}}</p>
            <h6 class="summary-content-more" ng-click="showContent()">{{contentExtra}}</h6>
          </div>
          <div class="movie-trailer" ng-show="!startSearch">
              <h4>Trailer</h4>
              <iframe width="460" height="220" frameBorder="0" ng-src="{{videoID}}"></iframe>
            </div>
        </div>
      </div>

      <!-- Footer -->
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__right-section">
          <button class="mdl-mini-footer__social-btn" ng-click="toTop()"><i class="material-icons">vertical_align_top</i></button>
          <button class="mdl-mini-footer__social-btn" id="about"><i class="material-icons">info</i></button>
          <!-- <button class="mdl-mini-footer__social-btn" id="settings"><i class="material-icons">settings</i></button> -->
        </div>
      </footer>

      <!-- Dialog content -->
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="more">
        <li class="mdl-menu__item" ng-click-copy="{{movie.url}}">Copy URL</li>
        <li class="mdl-menu__item" ng-click="openInNewTab(movie.url)">Open in new tab</li>

      </ul>
      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="download">
        <li class="mdl-menu__item" ng-repeat="torrent in movie.torrents" ng-click="downloadFile(torrent.url, torrent.quality)">{{torrent.quality}} - {{torrent.size}}</li>
      </ul>
      <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
          data-mdl-for="about">
        <li class="mdl-menu__item">FilmFinder - 0.5</li>
        <li class="mdl-menu__item" ng-click="openInNewTab('https://addons.opera.com/en/extensions/details/filmfinder/')">Rate & Review</li>
        <li class="mdl-menu__item" ng-click="openInNewTab('https://github.com/gowthamcodingmart/yifyextension-chrome')">View on Github</li>
      </ul>
      <!-- <ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect"
          data-mdl-for="settings">
        <li class="mdl-menu__item">Some Action</li>
        <li class="mdl-menu__item">Another Action</li>
        <li class="mdl-menu__item">Yet Another Action</li>
      </ul> -->
    </div>
    <!-- Script Files -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/material/material.min.js"></script>
    <script src="lib/plugin/ng-loading-screen.js"></script>
    <script src="lib/plugin/ngClickCopy.js"></script>
    <script src="app/app.js"></script>
    <script src="app/applicationController.js"></script>
    <script src="app/directive.js"></script>
    <script src="app/filter.js"></script>
    <script src="lib/safeResponse.js"></script>
  </body>
</html>
